name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Install setuptools
      run: |
          pip install setuptools==57.5.0
    - name: Setup quarto-ghp
      uses: fastai/workflows/quarto-ghp@master
